body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 150px;
}

h1 {
    font-size: 64px;
    font-weight: 900;
    color: #ffffff;
    margin: 0;
}

h2 {
    color: #121212;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

p {
    color: #707070;
    font-size: 18px;
    line-height: 160%;
    /* color: #ffffff; */
}

input[type=text] {
    text-align: center;
    color: #B3B3B3;
    width: 50%;
    margin: 24px auto;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 2px solid #DADADA;
}

input[type=email] {
    border: none;
    width: 320px;
    height: 52px;
    padding-left: 24px;
    margin-right: -6px;
}

.hero-banner {
    text-align: center;
    /* margin: 0 auto; */
    background-image: url(images/Donate-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 120px 0;
}

.content-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.link-button {
    text-decoration: none;
    color: #ffffff;
    padding: 16px 32px;
    background-color: #FF5959;
    border-radius: 5px;

}

.donate-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.donate-amount-content {
    text-align: center;
}

.bdt-amount {
    text-align: center;
    color: #707070;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hundred-bdt {
    background-color: #FAFAFA;
    color: #707070;
    border-radius: 5px;
    padding: 32px 24px;
}

.two-hundred-bdt {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
    padding: 32px 24px;
}

.five-hundred-bdt {
    background-color: #FAFAFA;
    color: #707070;
    border-radius: 5px;
    padding: 32px 24px;
}

.one-thousand-bdt {
    background-color: #FAFAFA;
    color: #707070;
    border-radius: 5px;
    padding: 32px 24px;
}

.five-thousand-bdt {
    background-color: #FAFAFA;
    color: #707070;
    border-radius: 5px;
    padding: 32px 24px;
}

.donate-plan {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.donate-plan-content {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 0 100px;
}

.single-card {
    width: 360px;
    padding: 56px 32px;
    border-radius: 5px;

}

.contribution-way {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150;
    padding-left: 280px;
    padding-right: 280px;
    /* margin-right: -50px; */
}

.donate-us {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEFEF;
    padding-left: 280px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.stats {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    width: 60%;
    border-radius: 10px;
    border-left: 5px solid #FF5959;
}

.numbers {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.numbers h2 {
    margin-bottom: 24px;
}

#human-image {
    width: 70%
}

.surviving-way {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150;
    padding-left: 280px;
    padding-right: 280px;
}

.half-width {
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}


.first {
    background-color: rgba(79, 157, 166, 0.1);
}

.second {
    background-color: rgba(255, 89, 89, 0.1);
}

.third {
    background-color: #FFF4D6;
}

.content-hero p {
    color: #ffffff;
}

.half-width img {
    width: 80%;
}

.stats h1 {
    color: #121212;
}

.get-update {
    margin: 0 auto 150px;
    text-align: center;
    width: 50%;
}



.subscription-form {
    background-color: #FFF4D6;
    border-radius: 10px;
    padding: 120px;
    margin-top: 24px;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #0B0D17;
    padding: 120px;
}

.company-name {
    color: #FF5959;
    font-family: 'Lobster', cursive;
}